{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/product-user-interface-design//" class="text-link text-black">user interface design</a> <span>/</span>  Goomo Train</h1></div>
      </div>
    </div>
  </div>
</div>


<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <p class="body-text">
      AxisRooms is an award winning hospitality technology solution company, with 6000+ hotel users across the world. We designed, developed the website in 2018 and continue to offer support & hosting.</p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
             data-src="{{"img/portfolio/goomotrain/goomo-train-homepage-large.jpg" | absURL}}" alt=""
             data-srcset=" {{"img/portfolio/goomotrain/goomo-train-homepage-large.jpg" | absURL}}  1676w, {{"img/portfolio/goomotrain/goomo-train-homepage-medium.jpg" | absURL}} 1200w, {{"img/portfolio/goomo-train-homepage-small.jpg" | absURL}}  700w"
             data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<!-- <section class="p2">
<div class="container p5 mt-1 mb-1">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
          <div class="text-overlay d-flex">
          <h1 class="card-title m-auto w-75 align-item-center text-center font-weight-bold" style="color:#48bc9f;">Complete suite of products for the hospitality industry</h1>
          
          </div>
      </div>
  </div>
</div>
</section> -->
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <img src="{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design.jpg" | absURL}}" alt="A travel technology company with 6 different products." class="img-fluid d-none">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/goomotrain/goomo-train-large.jpg" | absURL}}" alt=""
          data-srcset=" {{"img/portfolio/goomotrain/goomo-train-large.jpg" | absURL}}  1676w, {{"img/portfolio/goomotrain/goomo-train-medium.jpg" | absURL}} 1200w, {{"img/portfolio/goomotrain/goomo-train-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">

          <!-- <picture>
             <source media="(orientation: landscape)" srcset='{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-Medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-Small.jpg" | absURL}}  700w,' sizes="100vw">

             <source media="(orientation: portrait)" srcset='{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Desin-SmallSize.jpg" | absURL}}  700w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Desin-XSmallSize.jpg" | absURL}} 400w' sizes="100vw">

             <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                 data-src="{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-Small.jpg" | absURL}}"
                 data-srcset="{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-Small.jpg" | absURL}} 700w"
                 data-sizes="100vw"
                 class="img-fluid" alt="A travel technology company with 6 different products.">
           </picture> -->
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <img src="{{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design.jpg" | absURL}}" class="img-fluid d-none">
       <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
           data-src="{{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design.jpg" | absURL}}" alt="A travel technology company with 6 different products."
           data-srcset="{{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-Medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-Small.jpg" | absURL}}  700w"
           data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid"> -->

           <picture>
              <source media="(orientation: landscape)" srcset='{{"img/portfolio/goomotrain/goomo-train-search-large.jpg" | absURL}}  1676w, {{"img/portfolio/goomotrain/goomo-train-search-medium.jpg" | absURL}} 1200w, {{"img/portfolio/goomotrain/goomo-train-search-small.jpg" | absURL}}  700w,' sizes="100vw">

              <source media="(orientation: portrait)" srcset='{{"img/portfolio/goomotrain/goomo-train-search-small.jpg" | absURL}}  700w' sizes="100vw">

              <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                  data-src="{{"img/portfolio/goomotrain/goomo-train-search-small.jpg" | absURL}}"
                  data-srcset="{{"img/portfolio/goomotrain/goomo-train-search-small.jpg" | absURL}} 700w"
                  data-sizes="100vw"
                  class="img-fluid" alt="">
            </picture>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">

    <div class="col  offset-xl-2 col-xl-8 col12">

      <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" -->



           <picture>
             <source media="(orientation: landscape)" srcset='{{"img/portfolio/goomotrain/goomo-train-booking-large.jpg" | absURL}}  1676w, {{"img/portfolio/goomotrain/goomo-train-booking-medium.jpg" | absURL}} 1200w, {{"img/portfolio/goomotrain/goomo-train-booking-small.jpg" | absURL}}  700w,' sizes="100vw">

             <source media="(orientation: portrait)" srcset='{{"img/portfolio/goomotrain/goomo-train-booking-small.jpg" | absURL}}  700w' sizes="100vw">

             <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                 data-src="{{"img/portfolio/goomotrain/goomo-train-booking-small.jpg" | absURL}}"
                 data-srcset="{{"img/portfolio/goomotrain/goomo-train-booking-small.jpg" | absURL}} 700w"
                 data-sizes="100vw"
                 class="img-fluid" alt="">
           </picture>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/goomotrain/goomo-train-screens-large.jpg" | absURL}}" alt=""
          data-srcset=" {{"img/portfolio/goomotrain/goomo-train-screens-large.jpg" | absURL}}  1676w, {{"img/portfolio/goomotrain/goomo-train-screens-medium.jpg" | absURL}} 1200w, {{"img/portfolio/goomotrain/goomo-train-screens-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>

 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>

   <div class="col-xl-10 our-work">
  <h1 class="font-weight-bold d-block d-md-none mobile-header mb-4 text-muted">Our Work</h1>
  <div class="items mb-5">
    <a href="{{"product-user-interface-design/goomo-train-booking-app/" | absURL}}" class="text-black text-link">
      <h1 class="ft6"> Goomo Train</h1>
      <h5 class="font-weight-light">
      A wine subscription service for Singapore and Australia.
     </h5>
    </a>

   <div class="ajency-portfolio portfolio-1">
        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/goomotrain/GoomoRail-Homepage-1536px.jpg" | absURL}}"
          data-srcset="{{"img/portfolio/goomotrain/GoomoRail-Homepage-480px.jpg" | absURL}} 480w, {{"img/portfolio/goomotrain/GoomoRail-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/goomotrain/GoomoRail-Homepage-1536px.jpg" | absURL}} 1440w"
          data-sizes="(min-width: 768px) 768px,  100vw"
          alt="Goomo Train" />
   </div>
  </div>
  <div class="items mb-5">
    <a href="{{"product-user-interface-design/goomo-hotel-extranet-booking-tool/" | absURL}}" class="text-black text-link">
    <h1 class="ft6"> Goomo Extranet & CBT </h1>
    <h5 class="font-weight-light">
    A travel technology company with 6 different products.
   </h5>
   </a>
    <div class="ajency-portfolio portfolio-2">
    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/goomo-cbt/goomo-cbt-homepage-1536px.jpg" | absURL}}"
          data-srcset="{{"img/portfolio/goomo-cbt/goomo-cbt-homepage-480px.jpg" | absURL}} 480w, {{"img/portfolio/goomo-cbt/goomo-cbt-homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/goomo-cbt/goomo-cbt-homepage-1536px.jpg" | absURL}} 1440w"
          data-sizes="(min-width: 768px) 768px,  100vw"
          alt="Goomo Extranet" />
   </div>
  </div>
  <div class="items mb-5">
    <a href="{{"product-user-interface-design/tata-group-mobile-wallet-mrupee/" | absURL}}" class="text-black text-link">
      <h1 class="ft6"> mRupee</h1>
      <h5 class="font-weight-light">
      Company website for an exhibition design company.
     </h5>
    </a>
    <div class="ajency-portfolio portfolio-3">
       <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/mrupee/mrupee-Homepage-1536px.jpg" | absURL}}"
          data-srcset="{{"img/portfolio/mrupee/mrupee-Homepage-480px.jpg" | absURL}} 480w, {{"img/portfolio/mrupee/mrupee-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/mrupee/mrupee-Homepage-1536px.jpg" | absURL}} 1440w"
          data-sizes="(min-width: 768px) 768px,  100vw"
          alt="mrupee" />
   </div>
  </div>
  <div class="items">
    <a href="{{"product-user-interface-design/fnbcircle-directory-marketplace/" | absURL}}" class="text-black text-link">
      <h1 class="ft6"> FNB Circle</h1>
      <h5 class="font-weight-light">
      Real estate company with dozens of ongoing projects.
     </h5>
    </a>
    <div class="ajency-portfolio portfolio-4">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/fnb/fnb-homepage-480px.jpg" | absURL}}"
          data-srcset="{{"img/portfolio/fnb/fnb-homepage-480px.jpg" | absURL}} 480w, {{"img/portfolio/fnb/fnb-homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/fnb/fnb-homepage-1536px.jpg" | absURL}} 1440w"
          data-sizes="(min-width: 768px) 768px,  100vw"
          alt="fnb Circle" />
   </div>
  </div>
  <div class="aj-our-work">
    <h1 class="font-weight-bold display-3">Our Work</h1>
     <p class="body-text">
      Seeing is believing. Some of our best work.
     </p>
  </div>
</div>

  </div>
</div>
</section>

{{ end }}