{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <div class="headerfix">
        
      </div>
    </div>
  </div>
</div>
<div class="seperator">
</div>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h1>Website Design</h1>
     <p class="body-text">
      We design and code websites for Online Stores, Real Estate Projects, Hotels, Company Websites, Product websites, Blog and others.

     </p>
    </div>
  </div>
</div>
</section>
<section>
<div class="slider variable-width d-flex align-items-center">
        <div >
          <img srcset=" {{"img/ajency-office-4x.jpg" | absURL}} 2000w, {{"img/ajency-office-3x.jpg" | absURL}} 1400w, {{"img/ajency-office-2x.jpg" | absURL}}  1024w, {{"img/ajency-office-1x.jpg" | absURL}} 760w "  src="{{"img/ajency-office.jpg" | absURL}}" width="1100px"/>

        </div>
        <div class="align-items-center">
          <img srcset=" {{"img/ajency-team-squad-4x.jpg" | absURL}} 2000w, {{"img/ajency-team-squad-3x.jpg" | absURL}} 1400w, {{"img/ajency-team-squad-2x.jpg" | absURL}}  1024w, {{"img/ajency-team-squad-1x.jpg" | absURL}} 760w "  src="{{"img/ajency-team-squad.jpg" | absURL}}" width="1100px"/>
    
        </div>
        <div >
          <img srcset=" {{"img/ajency-located-at-panjim-4x.jpg" | absURL}} 2000w, {{"img/ajency-located-at-panjim-3x.jpg" | absURL}} 1400w, {{"img/ajency-located-at-panjim-2x.jpg" | absURL}}  1024w, {{"img/ajency-located-at-panjim-1x.jpg" | absURL}} 760w "  src="{{"img/ajency-located-at-panjim" | absURL}}" width="1100px"/>
        </div>
     
      </div>
</section>
{{ end }}