{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <div class="headerfix">
        
      </div>
    </div>
  </div>
</div>
<div class="seperator">
</div>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h1>Website Design</h1>
     <p class="body-text">
      KFF challenges investors, startups and thought-leaders to collaborate and take action towards reaching and transcending the UN Sustainable Development Goals. 
     </p>
    </div>
  </div>
</div>
</section>
<section>
<div class="slider variable-width d-flex align-items-center">
        <div >
          <img src="{{"img/ajency-office.jpg" | absURL}}" width="1100px"/>
        </div>
        <div class="align-items-center">
           <img src="{{"img/ajency-team-squad.jpg" | absURL}}" width="1100px"/>
        </div>
        <div >
           <img src="{{"img/ajency-located-at-panjim.jpg" | absURL}}" width="1100px"/>
        </div>
     
      </div>
</section>
{{ end }}