.bread-crumb {
    h1 {
        @media (min-width: 768px) and (max-width: 1199.98px) {
            margin-top: 53px;
            font-size: 1.4rem;
        }
        @media (min-width: 320px) and (max-width: 767.98px) {
            margin-top: 23px;
            font-size: 1.2rem;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 1.7rem;
        }
        span {
            font-weight: 100;
        }
        a {
            font-style: italic;
            text-transform: lowercase;
            font-family: 'Libre Baskerville', Baskerville, georgia, serif!important;
        }
    }
}
.mobile-header {
    margin: auto;
    font-style: italic;
    text-transform: lowercase;
    font-family: 'Libre Baskerville', Baskerville, georgia, serif!important;
}
.aj-our-work {
    position: absolute;
    right: 0%;
    z-index: 99999;
    transition: all .5s ease;
    width: 46vw;
    top: 0%;
    text-align: center;
    height: 120%;
    background: #fff;
    padding: 100px 200px;

    @media (min-width: 768px) and (max-width: 1199.98px) {
        display:none;
    }
    @media (min-width: 992px) and (max-width: 1399.98px) {
        right: 0%;
        width: 36vw;
        padding: 140px 40px;
    }
    h1 {
        margin: auto;
        font-style: italic;
        text-transform: lowercase;
        font-family: 'Libre Baskerville', Baskerville, georgia, serif!important;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        display: none;
    }
}
.logo {
    @media (min-width: 768px) and (max-width: 1199.98px) {
        float: left !important;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        width: 125px !important;
        float: left !important;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 110px;
    }
}
.headerfix {
    height: 188px;
    z-index: 999;
    position: relative;
    @media (min-width: 320px) and (max-width: 767.98px) {
        height:184px;
    }
}
nav {
    width: 100%;
    position: absolute;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-bottom: 16px;
        z-index: 9999;
    }
}
.menu {
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size: .9rem!important;
        display: inline-flex;
        align-items: center;
        float: right !important;
        margin-left: auto !important;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        word-break: break-all;
        font-size: 1.4rem;
        float: right !important;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        word-break: break-all;
        font-size: 1.14rem;
    }
}
.slick-slide {
    margin-left: 100px;
    cursor: -webkit-grab;
    @media (min-width: 400px) and (max-width: 767.98px) {
        margin-left: 40px;
    }
    @media (max-width: 400px) {
        margin-left: 30px;
    }
    @media (max-width: 360px) {
        margin-left: 20px;
    }
}
.slick-slide {}
.slick-slider {
    &.variable-width {
        .slick-track {
            align-items: center!important;
            display: flex !important;
        }
    }
}
.variable-width {
    opacity: 0;
    min-height: 692px;
    @media (min-width: 768px) and (max-width: 991.98px) {
        min-height: 380px;
    }
    @media (min-width: 992px) and (max-width: 1399.98px) {
        min-height: 536px;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        min-height: 230px;
    }
    @media (max-width: 400px) {
        min-height: 218px;
    }
    @media (max-width: 360px) {
        min-height: 206px;
    }
    &.slick-initialized {
        opacity: 1;
    }
}
.slick-track {
    img {
        width: 890px;
        @media (min-width: 768px) and (max-width: 991.98px) {
            width:490px;
        }
        @media (min-width: 992px) and (max-width: 1399.98px) {
            width: 690px;
        }
        @media (min-width: 320px) and (max-width: 767.98px) {
            width: 297px;
        }
        @media (max-width: 400px) {
            width: 280px;
        }
        @media (max-width: 360px) {
            width: 265px;
        }
    }
}
.aj-team-member {
    .slick-slide {
        width: 1300px;
        @media (min-width: 320px) and (max-width: 767.98px) {
            width:260px;
        }
        @media (min-width: 992px) and (max-width: 1399.98px) {
            width: 900px;
        }
        @media (min-width: 768px) and (max-width: 1199.98px) {
            width: 600px;
        }
    }
    .slick-track {
        flex-shrink: 0;
    }
    .team-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @media (min-width: 320px) and (max-width: 767.98px) {
            margin-top:20px;
            padding-bottom: 5px;
        }
        @media (min-width: 768px) and (max-width: 1199.98px) {
            width: 100% !important;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}
.slider-contanier {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0;
    @media (min-width: 320px) and (max-width: 767.98px) {
        padding-left:30px;
        .display-3 {
            font-size: 2.5rem;
        }
        h5 {
            font-size: 0.8rem;
        }
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        padding-left: 30px;
    }
}
.aj-faq {
    .card {
        border-bottom: 1px solid #000 !important;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        .card-header {
            background: none;
            border: 0px;
            padding-left: 0px;
            h2 {
                display: block;
                cursor: pointer;
                @media (min-width: 320px) and (max-width: 767.98px) {
                    font-size: 1.3rem;
                }
            }
            .text-link {
                display: block;
                cursor: pointer;
                &:after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                    position: absolute;
                    right: 10px;
                    top: 26px;
                    color: $gray-700;
                    transition: all 0.3s ease;
                    transform: rotate(180deg);
                }
                &.collapsed {
                    &:after {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
    .card:first-of-type {
        border-top: 1px solid #000 !important;
    }
}
.form-group {
    position: relative;
    margin-top: 30px;
    button {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        bottom: 15px;
        text-decoration: none;
        font-size: 1.2rem;
    }
}
.form-control {
    border: 0px;
    padding: 10px 0px;
    background-image: linear-gradient(#f9bc23, #f9bc23), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0% 2px, 100% 1px;
    background-position: center bottom, center 100%;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-color: transparent;
    transition: background 0.3s ease-out;
}
.form-control-number {
    font-size: 26px !important;
    padding-left: 0px;
    font-weight: bold;
}
.form-control:focus {
    outline: none;
    background-image: linear-gradient(#f9bc23, #f9bc23), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
}
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1rem;
}
.form-control:focus+.control-label, .has-value+.control-label {
    top: -20px;
    left: 0px;
    font-size: 12px;
}
.text-area {
    input {
        padding-right: 65px;
    }
}
.control-label {
    position: absolute;
    top: 6px;
    font-size: 14px;
    padding-left: 0px;
    pointer-events: none;
    font-weight: 400;
    transition: all 0.2s ease-out;
}
.img-fluid {
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    body .fixed-header {
        position: absolute!important;
    }
}
@media (min-width: 320px) and (max-width: 767.98px) {
    body .fixed-header {
        position: absolute!important;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .contact-details {
        max-width: 100%;
        flex: none;
        margin-bottom: 30px !important;
    }
    .contact-details-1 {
        max-width: 100%;
        flex: none;
    }
}
 @media (min-width: 992px) and (max-width: 1399.98px) {
      .contact-details {
        .w-75{
             max-width: 100%;
            flex: none;
            width: 100% !important;
        }
    }
}
#div1, #div2, #div3, #div4, #div5 {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 999999;
    top: 0px;
    .close {
        position: absolute;
        right: 0px;
        top: -34px;
        font-size: 1.2rem;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        display: none !important;
    }
    @media (min-width: 768px) and (max-width: 1199.98px) {
        display: none!important;
    }
}
.highlight {
    position: relative;
        h5 {
        border-bottom: 2px solid #f2cd05 !important;
         @media (min-width: 320px) and (max-width: 1199.98px) {
               border: 0px !important;
        }
    }

}
 .highlight:before{
         font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        position: absolute;
        right: 0px;
        top: 4%;
        font-size: 20px;
        color: #f0c70f;
        transition: all .3s ease;
        transform: rotate(-90deg);
          @media (min-width: 320px) and (max-width: 1199.98px) {
          display:none;
        }
    }
.aj-home-title {
    line-height: 5rem;
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size:1.6rem;
        line-height: 2.7rem;
    }
     @media (min-width: 992px) and (max-width: 1399.98px) {
        line-height: 4rem;
        font-size: 2.9rem;
        h3{
            font-size: 1.1rem;
            line-height: 1.5rem;

        }
    }
    
    .clutch {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            .clutch-open {
                height: 65px;
                z-index: 999;
                padding: 20px;
                bottom: 1px;
                @media (min-width: 320px) and (max-width: 767.98px) {
                    display:none !important;
                }
                @media (min-width: 768px) and (max-width: 1199.98px) {
                    display: none!important;
                }
                h3 {
                    visibility: visible;
                }
            }
        }
    }
    .clutch-open {
        overflow: hidden;
        -webkit-transition: all .35s;
        transition: all .35s;
        height: 3px;
        background-color: #f2cd05;
        z-index: -1;
        position: absolute;
        bottom: -1px;
        width: 100%;
        h3 {
            visibility: hidden;
        }
    }
}