
.ajency-portfolio{
        position: absolute;
        right: 10px;
        z-index: 99999;
        opacity: 0;
        transition: all 0.5s ease;
        width:40vw;
    img{
        width: 100%;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        display:none;
     }
   @media (min-width: 768px) and (max-width: 1199.98px) { 
        display:none;
    }

}
.portfolio-1{
            top: 100px;
}
.portfolio-2{
            top: 130px;
}
.portfolio-3{
            top: 270px;
}
.portfolio-4{
            top: 340px;
}
.items{
    cursor: pointer;
        h5{
            border-bottom: 2px solid #fff;
            display: -webkit-inline-box;
            padding-bottom: 4px;

        }
    &:hover{
        h5{
            border-bottom: 2px solid #f2cd05;
        }
        .aj-our-work{
            opacity:0;
        }
        .ajency-portfolio{
            opacity:1;
        }
        .portfolio-1{
            top: 0px;
        }
        .portfolio-2{
            top: 0px;
        }
        .portfolio-3{
            top: 0px;
        }
        .portfolio-4{
            top: 0px;
        }
    }
}
.our-work{
    .items{
        width: 29vw;
        @media (min-width: 320px) and (max-width: 767.98px) {
           width: 100%;
         }
          @media (min-width: 768px) and (max-width: 1199.98px) { 
              width: 100%;
            }
    }
}
.card-title{
    font-style: italic;
    font-family: "Libre Baskerville",Baskerville,georgia,serif!important;
    letter-spacing: .1rem;
    color: aquamarine;
    @media (min-width: 768px) and (max-width: 1199.98px) { 
            font-size: 1.7rem;
    }
}
.text-overlay{
    height:300px;
     @media (min-width: 320px) and (max-width: 767.98px) {
        height:125px;
        h1{
            width:100%!important;
            font-size:1.1rem;
        }
     }
}

   @media (min-width: 320px) and (max-width: 767.98px) {
    .aj-engineering{
        .scroll-left{
               display: block;
                opacity: 1;
                width: 100%;
                top: 0px;
                position: fixed;
                margin: auto;
                left: 0px;
                overflow-y: scroll;
                height: 100%;
                right:-1060px;
                background:#fff;
                transition: all 0.5s ease;
                z-index:9999;
                padding-top:60px;
                img{
                    width:100%;
                }
                .fixed-header{
                    position: fixed;
                    width: 100%;
                    z-index: 9999;
                    background: #ffff;
                    margin: 0px;
                    top: 0px;
                    padding: 13px 6px;

                }

        }
           .items{
         position: relative;
         .text-black {
            width:90%;
            display:block;
         }
    }
    .items:before{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        position: absolute;
        right: 10px;
        top: 27%;
        font-size: 20px;
        color: #f0c70f;
        transition: all .3s ease;
        transform: rotate(-90deg)
    }
    }
    .active{
        right:0px!important;
    }
}
.mobile-slick{
    background:#f9f9f9;
    .slick-slide{
        margin:auto;
    }
    .slick-arrow{
    position: absolute;
    top: 15px;
    background: #fff;
    padding: 7px;
    width: 80px;
    border-radius: 30px;

    }
    .slick-next{
        right:10px;
    }
    .slick-prev{
        display:none !important;
    }
}

