
.ajency-portfolio{
        position: absolute;
        right: 10px;
        z-index: 99999;
        opacity: 0;
        transition: all 0.5s ease;
        width:40vw;
    img{
        width: 100%;
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        display:none;
     }
   @media (min-width: 768px) and (max-width: 1199.98px) { 
        display:none;
    }

}
.portfolio-1{
            top: 100px;
}
.portfolio-2{
            top: 130px;
}
.portfolio-3{
            top: 270px;
}
.portfolio-4{
            top: 340px;
}
.items{
    cursor: pointer;
        h5{
            border-bottom: 2px solid #fff;
            display: -webkit-inline-box;
            padding-bottom: 4px;

        }
    &:hover{
        h5{
            border-bottom: 2px solid #f2cd05;
        }
        .aj-our-work{
            opacity:0;
        }
        .ajency-portfolio{
            opacity:1;
        }
        .portfolio-1{
            top: 0px;
        }
        .portfolio-2{
            top: 0px;
        }
        .portfolio-3{
            top: 0px;
        }
        .portfolio-4{
            top: 0px;
        }
    }
}
.our-work{
    .items{
        width: 29vw;
        @media (min-width: 320px) and (max-width: 767.98px) {
           width: 100%;
         }
          @media (min-width: 768px) and (max-width: 1199.98px) { 
              width: 100%;
            }
    }
}
.card-title{
    font-style: italic;
    font-family: "Libre Baskerville",Baskerville,georgia,serif!important;
    letter-spacing: .1rem;
    color: aquamarine;
    @media (min-width: 768px) and (max-width: 1199.98px) { 
            font-size: 1.7rem;
    }
}
.text-overlay{
    height:300px;
     @media (min-width: 320px) and (max-width: 767.98px) {
        height:125px;
        h1{
            width:100%!important;
            font-size:1.1rem;
        }
     }
}