<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Ajency.in | Goa based UI/UX &amp; Web, Mobile Application Development, Software Development Company</title>>
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
/>
{{ if $.Params.metaHome }} 
{{ if $.Params.metaAxisrooms }}  
<!--<meta name="viewport" content="hi am axisrooms"> -->

{{ end }}

{{ if $.Params.metaIndigowine }}  
<meta name="viewport" content="hi am indigowines">
{{ end }}

{{ if $.Params.metaDesigndesk }}  
<!--<meta name="viewport" content="hi am designdesk"> -->
<title>Wesite design and development Designdesk.in | Ajency.in Goa </title>>
<meta name="description" content="Designdesk: based out of Mumbai, India, designs & builds exhibition stands. The website is a showcase of their work of 1200+ exhibitions in India & abroad."/>
{{ end }}

{{ if $.Params.metaMarvel }}  
<meta name="viewport" content="hi am marevl">
{{ end }}


{{ else }}

 <meta name="description" content="We work with startups in Goa, London, Mumbai, Bangalore &amp; rest of the world. We combine both UI/UX &amp; web + mobile development skills to create winning digital products."/>
 <meta name="keywords" content="Software company in Goa,Software Development Company Goa,Mobile Application Development, Mobile Application Development Goa, Web design Panjim,Ajency.in Goa"/>

 <meta property="og:type" content="website" />
<meta property="og:title" content="Ajency.in | Goa based UI/UX &amp; Web, Mobile Application Development, Software Development Company" />
<meta property="og:description" content="We work with startups in Goa, London, Mumbai, Bangalore &amp; rest of the world. We combine both UI/UX &amp; web + mobile development skills to create winning digital products." />
<meta property="og:url" content="https://ajency.in/" />
<meta property="og:site_name" content="Ajency.in - Goa based UI/UX &amp; web + mobile application development company" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="We work with startups in Goa, London, Mumbai, Bangalore &amp; rest of the world. We combine both UI/UX &amp; web + mobile development skills to create winning digital products." />
<meta name="twitter:title" content="Ajency.in | Goa based UI/UX &amp; Web, Mobile Application Development, Software Development Company" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/ajency.in\/","name":"Ajency.in - Goa based UI\/UX &amp; web + mobile application development company","potentialAction":{"@type":"SearchAction","target":"https:\/\/ajency.in\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

{{ end }}
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#707279" />
    <link  rel="icon" type="image/x-icon" href="{{"img/favicon.png" | absURL}}" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{{"css/combine.css" | absURL}}">

    <title>{{ .Title }}</title>
  </head>
  <body>

    {{- partial "header.html" . -}}

    {{- block "main" . }}{{- end }}

    {{- partial "footer.html" . -}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
       <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>

    <script type="text/javascript" src="{{"js/combine.js" | absURL}}"></script>


    <!-- Custom js -->

    <script type="text/javascript" src="{{"js/custom.js" | absURL}}"></script>
  </body>
</html>
