{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
       <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="#" class="text-link text-black">Website Design</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="seperator">
</div>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
     <p class="body-text">
      We design and code websites for Online Stores, Real Estate Projects, Hotels, Company or Product Websites, Blog and others. We go the extra length to ensure the sites load in under 4 seconds and adhere to Google guidelines for Search Engine Optimization. 


     </p>
    </div>
  </div>
</div>
</section>
<section class="mt-5 mt-md-0">
<div class="slider variable-width d-flex align-items-center">
        <div >
  <img src="{{"img/gallery-img/ajency-office-tablet.jpg" | absURL}}" alt="Ajency Office Workplace"
  srcset=" {{"img/gallery-img/ajency-office-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-office-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-office-desktop.jpg" | absURL}} 1024w"
    sizes="(min-width: 1900px) 80vw,(min-width: 1400px) 70vw,(min-width: 300px) 60vw,  100vw">
        </div>
        <div class="align-items-center">

            <img src="{{"img/gallery-img/ajency-team-squad-tablet.jpg" | absURL}}" alt="Ajency Team squad "
  srcset=" {{"img/gallery-img/ajency-team-squad-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-team-squad-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-team-squad-desktop.jpg" | absURL}} 1024w"
    sizes="(min-width: 1900px) 80vw,(min-width: 1400px) 70vw,(min-width: 300px) 60vw,  100vw">
    
        </div>
        <div >
                      <img src="{{"img/gallery-img/ajency-located-at-panjim-tablet.jpg" | absURL}}" alt="Ajency located at panjim"
  srcset=" {{"img/gallery-img/ajency-located-at-panjim-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-located-at-panjim-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-located-at-panjim-desktop.jpg" | absURL}} 1024w"
   sizes="(min-width: 1900px) 80vw,(min-width: 1400px) 70vw,(min-width: 300px) 60vw,  100vw">

        </div>
     
      </div>
</section>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h3 class="h1 ft6">6 years in the making</h3>
     <p class="body-text">
      We are a boutique agency with a team size of 30+. Not too small where projects are dependent on 1-2 individuals, but small enough for you to have a chat/coffee/beer with the founders.

     </p>
    </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>
    <div class="col-md-10 our-work">
      <div class="items mb-5">
        <a href="goa-our-work/wine-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> IndigoWine</h1>
        <h5 class="font-weight-light">
        A Wine subscription service for Singapore and Australia.
       </h5>
      </a>
  
       <div class="ajency-portfolio portfolio-1">
          <img src="{{"img/IndigiWineCo-Mockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items mb-5">
        <a href="goa-our-work/hotel-management-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> Axisrooms</h1>
        <h5 class="font-weight-light">
        A travel technology company with 6 different products. 
       </h5>
       </a>
        <div class="ajency-portfolio portfolio-2">
          <img src="{{"img/portfolio/axisrooms/AxisRooms-Mockup.jpg" | absURL}}" alt=" A travel technology company with 6 different products. " />
       </div>
      </div>
      <div class="items mb-5">
        <h1 class="ft6"> DesignDesk</h1>
        <h5 class="font-weight-light">
        Company website for an exhibition design company. 
       </h5>
        <div class="ajency-portfolio portfolio-3">
          <img src="{{"img/indigo-wines-portfolio.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items">
        <h1 class="ft6"> Marvel Realtors</h1>
        <h5 class="font-weight-light">
        Real estate company with dozens of ongoing projects. 
       </h5>
        <div class="ajency-portfolio portfolio-4">
          <img src="{{"img/indigo-wines-portfolio.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
          <div class="aj-our-work">
        <h1 class="font-weight-bold display-3">Our Work</h1>
         <p class="body-text">
      We are a boutique agency with a team size of 30+.
     </p>
      </div>
    </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section >
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h3 class="h1 ft6">Check out our Team members!</h3>
      <p class="body-text">
      We are a boutique agency with a team size of 30+.
     </p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container slider-contanier ">

        <div class="aj-team-member  d-flex">
        <div >
          <div class="row ">
            <div class="col-md-6">
                <img src="https://1z3o6ca02l43rp0zb3y1b2e1-wpengine.netdna-ssl.com/wp-content/uploads/2015/12/a-27.jpg" alt="Ajency Office Workplace" class="img-fluid">
            </div>
             <div class="col-md-5 offset-md-1">
               <div class="w-75 team-desc">
                        <h5>Exponential Technologies</h5>
                        <h1 class="display-3">Anuj Khurana</h1>
                         <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">Connection Science Fellow at Massachusetts Institute of Technology</h5></div>
                      </div>
            </div>
          </div>

        </div>
        <div class="align-items-center">

             <div class="row flex ">
            <div class="col-md-6">
               <img src="https://1z3o6ca02l43rp0zb3y1b2e1-wpengine.netdna-ssl.com/wp-content/uploads/2015/12/a-28.jpg" alt="Ajency Office Workplace" class="img-fluid">
            </div>
             <div class="col-md-5 offset-md-1">
              <div class="w-75 team-desc">
                        <h5>Exponential Technologies</h5>
                        <h1 class="display-3">Avanti Hiremath</h1>
                        <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">Connection Science Fellow at Massachusetts Institute of Technology</h5></div>
                      </div>
            </div>
          </div>
    
        </div>
        <div >
                      <div class="row">
            <div class="col-md-6">
               <img src="https://1z3o6ca02l43rp0zb3y1b2e1-wpengine.netdna-ssl.com/wp-content/uploads/2015/12/a-29.jpg" alt="Ajency Office Workplace" class="img-fluid">
            </div>
             <div class="col-md-5 offset-md-1">
               <div class="w-75 team-desc">
                        <h5>Exponential Technologies</h5>
                        <h1 class="display-3">Amit Adav</h1>
                         <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">Connection Science Fellow at Massachusetts Institute of Technology</h5></div>
                      </div>
            </div>
          </div>

        </div>
     
      </div>
</div>
</section>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h3 class="h1 ft6">More </h3>
      <p class="body-text">Want to know more? Click on the links below. </p>
      <div class="seperator">
      </div>
    <div class="accordion aj-faq" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
        <a class=" text-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <h2 class="pt-2 pb-2 m-0 ">   Collapsible Group Item #1 </h2>
        </a>
    </div>

    <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       <p class="body-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
     
       <a class=" text-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <h2 class="pt-2 pb-2 m-0 "> Collapsible Group Item #2</h2>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
     
        <a class=" text-link"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h2 class="pt-2 pb-2 m-0 ">  Collapsible Group Item #3</h2>
        </a>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
     
        <a class=" text-link"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h2 class="pt-2 pb-2 m-0 ">  Collapsible Group Item #4</h2>
        </a>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
</section>

{{ end }}