{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="#" class="text-link text-black">Home</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="seperator">
</div>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <h1 class="display-4 font-weight-bold aj-home-title">
      We are a Goa (India) Based <a href="{{"website-design/" | absURL}}" class="text-black text-link"><div class="clutch">Website Design <div class="clutch-open"><h3 class="text-center"><i class="fas fa-stopwatch"></i> Loads under 4 seconds</h3></div></div></a>, <a href="{{"software-development-engineering/" | absURL}}" class="text-black text-link"><div class="clutch">Engineering <div class="clutch-open"><h3 class="text-center"><i class="fas fa-stopwatch"></i> Loads under 4 seconds</h3></div></div></a> & <br><a href="{{"product-user-interface-design/" | absURL}}" class="text-black text-link"><div class="clutch">User Interface Design<div class="clutch-open"><h3 class="text-center"><i class="fas fa-stopwatch"></i> Loads under 4 seconds</h3></div></div> </a>company.
 </h1>
    </div>
  </div>
</div>
<div>
  </div>
</section>


{{ end }}