{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="#" class="text-link text-black">Engineering</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="seperator">
</div>
<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <p class="body-text">
     We create quality <strong class="font-weight-bold h1">software solutions</strong> and great <strong class="font-weight-bold h1">development teams</strong>. Self-funded or venture backed (Sequoia,  Google Capital), idea stage or with legacy code of 7+ years - we have helped them all build and release usable solutions.</p>
    </div>
  </div>
</div>
<div>
  </div>
</section>

<!-- <section class="mt-5 mt-xl-0">
<div class="slider variable-width d-flex align-items-center">
        <div >
  <img src="{{"img/gallery-img/ajency-office-tablet.jpg" | absURL}}" alt="Ajency Office Workplace"
  srcset=" {{"img/gallery-img/ajency-office-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-office-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-office-desktop.jpg" | absURL}} 1024w"
    sizes="(min-width: 1900px) 80vw,(min-width: 1400px) 70vw,(min-width: 300px) 60vw,  100vw">
        </div>
        <div class="align-items-center"> -->


<section class="mt-5 mt-md-0 section-2rem">
  <div class="slider variable-width d-flex align-items-center">
    <div >
     <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/testimonials/testimonial-1-large.jpg" | absURL}}  1676w, {{"img/testimonials/testimonial-1-medium.jpg" | absURL}} 1200w, {{"img/testimonials/testimonial-1-small.jpg" | absURL}}  700w,' sizes="52vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/testimonials/testimonial-1-resize-2x.jpg" | absURL}}  700w, {{"img/testimonials/testimonial-1-resize-1x.jpg" | absURL}} 400w' sizes="70vw">

             <img src="{{"img/testimonials/testimonial-1-10px.jpg" | absURL}}"
                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="David Lovell (Operations Director
) GrowthInvest.com">
           </picture>
    </div>
    <div class="align-items-center">


           <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/testimonials/testimonial-2-large.jpg" | absURL}}  1676w, {{"img/testimonials/testimonial-2-medium.jpg" | absURL}} 1200w, {{"img/testimonials/testimonial-2-small.jpg" | absURL}}  700w,' sizes="52vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/testimonials/testimonial-2-resize-2x.jpg" | absURL}}  700w, {{"img/testimonials/testimonial-2-resize-1x.jpg" | absURL}} 400w' sizes="70vw">

             <img src="{{"img/testimonials/testimonial-2-10px.jpg" | absURL}}"
                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="Akhil Gupta (Chief Technology Officer)
HealthKart.com">
           </picture>


    </div>
    <div>
         <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/testimonials/testimonial-3-large.jpg" | absURL}}  1676w, {{"img/testimonials/testimonial-3-medium.jpg" | absURL}} 1200w, {{"img/testimonials/testimonial-3-small.jpg" | absURL}}  700w,' sizes="52vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/testimonials/testimonial-3-resize-2x.jpg" | absURL}}  700w, {{"img/testimonials/testimonial-3-resize-1x.jpg" | absURL}} 400w' sizes="70vw">

             <img src="{{"img/testimonials/testimonial-3-10px.jpg" | absURL}}"
                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="Gurpreet Singh (Co-founder) Browntape.com">
           </picture>
    </div>
     <div>
     <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/testimonials/testimonial-4-large.jpg" | absURL}}  1676w, {{"img/testimonials/testimonial-4-medium.jpg" | absURL}} 1200w, {{"img/testimonials/testimonial-4-small.jpg" | absURL}}  700w,' sizes="52vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/testimonials/testimonial-4-resize-2x.jpg" | absURL}}  700w, {{"img/testimonials/testimonial-4-resize-1x.jpg" | absURL}} 400w' sizes="70vw">

             <img src="{{"img/testimonials/testimonial-4-10px.jpg" | absURL}}"
                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="Andrew Nicolson (Head of Product)
Bekumo, London ">
           </picture>
    </div>
  </div>
</section>

<section>
<div class="container p5">
   <div class="row " id="num-terms-holder ">
    <div class=" offset-xl-2 col-xl-8">
      <div class="row">
        <div  class="num-terms-item col-lg-6 col-12 aos-init aos-animate pt-4 pb-4" >
            <div class="row">
                <div class="num col-sm-2 ">01</div>
                <div class="term  col-sm-10 ">
                    <span class="term-title">We build &amp; extend development teams</span>
                    <p class="term-desc">Work with our outstanding engineers and integrate them into your processes.</p>
                </div>
            </div>
        </div>
        <div class="num-terms-item col-lg-6 col-12 aos-init aos-animate  pt-4 pb-4" >
            <div class="row">
                <div class="num col-sm-2 ">02</div>
                <div class="term col-sm-10">
                    <span class="term-title">We develop great applications &emsp;&emsp;&emsp;&ensp;</span>
                    <p class="term-desc">Let us transform your concepts into business-ready software solutions.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col  offset-xl-2 col-xl-8 col12">
    <div class="alert alert-light">

      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
  <p class="mt-2 body-text text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. posuere erat a ante</p>


    </div>
  </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h aj-engineering">
<div class="container p5">
  <div class="row">
    <div class="col-xl-2">
    <!--   <h3>All Works</h3> -->
    </div>
    <div class="col-xl-10 our-work aj-engineering-work">

        <h1 class="font-weight-bold d-block d-md-none mobile-header mb-4 text-muted">Our Work</h1>

      <div class="items mb-5">
        <div id="showdiv1" class="text-black text-link pf-healthkart">
        <h1 class="ft6">HealthKart.com</h1>
        <h5 class="font-weight-light">
        A Sequoia-backed omnichannel marketplace for health products.
       </h5>
      </div>

       <div id="div1" >
       <span aria-hidden="true" class="close">&times; Close</span>
          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
              data-delaysrc="{{"img/portfolio/healthkart/Healthkart-Homepage-480px.jpg" | absURL}}"
              data-delaysrcset="{{"img/portfolio/healthkart/Healthkart-Homepage-1536px.jpg" | absURL}} 1536w, {{"img/portfolio/healthkart/Healthkart-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/healthkart/Healthkart-Homepage-480px.jpg" | absURL}} 480w"
              data-delaysizes="(min-width: 768px) 40vw, 100vw" class="img-fluid "
              alt=" Sequoia backed omnichannel marketplace for health products.">

       </div>
      </div>
      <div class="items mb-5">
        <div id="showdiv2" class="text-black text-link pf-commonfloor">
        <h1 class="ft6">Commonfloor.com</h1>
        <h5 class="font-weight-light">
        Real estate platform with funding from Tiger Global and Google Capital.
       </h5>
       </div>
        <div id="div2">
           <span aria-hidden="true" class="close">&times; Close</span>

          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
              data-delaysrc="{{"img/portfolio/commonfloor/Commonfloor-Homepage-480px.jpg" | absURL}}"
              data-delaysrcset="{{"img/portfolio/commonfloor/Commonfloor-Homepage-1536px.jpg" | absURL}} 1536w, {{"img/portfolio/commonfloor/Commonfloor-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/commonfloor/Commonfloor-Homepage-480px.jpg" | absURL}} 480w"
              data-delaysizes="(min-width: 768px) 40vw, 100vw" class="img-fluid">
       </div>
      </div>
      <div class="items mb-5">
        <div id="showdiv3" class="text-black text-link pf-growthinvest">
        <h1 class="ft6">GrowthInvest</h1>
        <h5 class="font-weight-light">
        London-based platform that helps startups raise early stage investment.
       </h5>
      </div>
        <div id="div3">
        <span aria-hidden="true" class="close">&times; Close</span>

          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
              data-delaysrc="{{"img/portfolio/growthinvest/GrowthInvest-Homepage-480px.jpg" | absURL}}"
              data-delaysrcset="{{"img/portfolio/growthinvest/GrowthInvest-Homepage-1536px.jpg" | absURL}} 1536w, {{"img/portfolio/growthinvest/GrowthInvest-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/growthinvest/GrowthInvest-Homepage-480px.jpg" | absURL}} 480w"
              data-delaysizes="(min-width: 768px) 40vw, 100vw" class="img-fluid">
       </div>
      </div>
      <div class="items mb-5">
        <div id="showdiv4" class="text-black text-link pf-weddingz">
        <h1 class="ft6">Weddingz.in</h1>
        <h5 class="font-weight-light">
        Marketplace for the wedding industry. Acquired by Softbank-backed OyoRooms in 2018.
       </h5>
        </div>
        <div id="div4">
          <span aria-hidden="true" class="close">&times; Close</span>

          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
              data-delaysrc="{{"img/portfolio/weddingz/Weddingz-Homepage-480w.jpg" | absURL}}"
              data-delaysrcset="{{"img/portfolio/weddingz/Weddingz-Homepage-1536px.jpg" | absURL}} 1536w, {{"img/portfolio/weddingz/Weddingz-Homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/weddingz/Weddingz-Homepage-480w.jpg" | absURL}} 480w"
              data-delaysizes="(min-width: 768px) 40vw, 100vw" class="img-fluid">
       </div>
      </div>

      <div class="items mb-5">
        <div id="showdiv5" class="text-black text-link pf-mylan">
        <h1 class="ft6">Mylan</h1>
        <h5 class="font-weight-light">
        A tele-medicine solution that helps hospitals reduce costs of patient visits.
       </h5>
        </div>
        <div id="div5">
            <span aria-hidden="true" class="close">&times; Close</span>
          <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
              data-delaysrc="{{"img/portfolio/mylan/mylan-homepage-480w.jpg" | absURL}}"
              data-delaysrcset="{{"img/portfolio/mylan/mylan-homepage-1536px.jpg" | absURL}} 1536w, {{"img/portfolio/mylan/mylan-homepage-768px.jpg" | absURL}} 768w, {{"img/portfolio/mylan/mylan-homepage-480w.jpg" | absURL}} 480w"
              data-delaysizes="(min-width: 768px) 40vw, 100vw" class="img-fluid ">
       </div>
      </div>

        <!-- <div class="items">
        <div class="text-black text-link">
        <h1 class="ft6">Weddingz.in</h1>
        <h5 class="font-weight-light">
        Online marketplace for Wedding industry. Acquired by Softbank backed Oyo Rooms in 2018.
       </h5>
        </div>
        <div class="ajency-portfolio portfolio-4">
          <img src="{{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div> -->

        <div class="scroll-left d-block d-xl-none">
          <div class="row no-gutter fixed-header shadow" >
            <div class="col-1">
              <h3  class="m-0 font-weight-bold back" >
                <img class="btn-back mt-1 " src="{{"img/left-arrow.png" | absURL}}" style="width:20px;"/>
              </h3>
            </div>
            <div class="col-7">
              <h3 class="modal-title font-weight-bold back" id="exampleModalLabel">Back</h3>
            </div>
          </div>

          <div class="img-section">
            <div class="mobile-slick ">
              <div>
                <div class="mb-3 p-4">
                  <h1 class="ft6">Healthkart.com</h1>
                  <h5 class="font-weight-light">
                  Sequoia backed omnichannel marketplace for health products.
                  </h5>
                </div>
                <div>
                  <img src="{{"img/portfolio/healthkart/healthkart-homepage-mo-10px.jpg" | absURL}}"
                      data-srcset="{{"img/portfolio/healthkart/Healthkart-Homepage-1600px.jpg" | absURL}} 1600w, {{"img/portfolio/healthkart/Healthkart-Homepage-800px.jpg" | absURL}} 800w, {{"img/portfolio/healthkart/Healthkart-Homepage-400px.jpg" | absURL}} 400w"
                      data-sizes="100w" class="img-fluid lazyload blur-up">
                </div>
              </div>

              <div style="background:#FFFAF1">
                <div class="mb-3 p-4">
                  <h1 class="ft6">Commonfloor.com</h1>
                  <h5 class="font-weight-light">
                    Tiger Global and Google Capital backed Real estate platform.
                  </h5>
                </div>
                <div>
                  <!-- <img src="{{"img/portfolio/commonfloor/homepage-commonfloor-mobile.jpg" | absURL}}" class="img-fluid lazyload blur-up"> -->
                  <img src="{{"img/portfolio/commonfloor/commonfloor-homepage-mo-10px.jpg" | absURL}}"
                      data-srcset="{{"img/portfolio/commonfloor/Commonfloor-Homepage-1600px.jpg" | absURL}} 1600w, {{"img/portfolio/commonfloor/Commonfloor-Homepage-800px.jpg" | absURL}} 800w, {{"img/portfolio/commonfloor/Commonfloor-Homepage-400px.jpg" | absURL}} 400w"
                      data-sizes="100w" class="img-fluid lazyload blur-up">
                </div>
              </div>

              <div style="background:#F5FAFF">
                <div class="mb-3 p-4">
                  <h1 class="ft6">Growthinvest.com</h1>
                  <h5 class="font-weight-light">
                    London based platform that helps startups raise early stage investment.
                   </h5>
                </div>
                <div>
                  <!-- <img src="{{"img/portfolio/growthinvest/homepage-growthinvest-mobile.jpg" | absURL}}" > -->
                  <img src="{{"img/portfolio/growthinvest/growthInvest-homepage-mo-10px.jpg" | absURL}}"
                      data-srcset="{{"img/portfolio/growthinvest/GrowthInvest-Homepage-1600px.jpg" | absURL}} 1600w, {{"img/portfolio/growthinvest/GrowthInvest-Homepage-800px.jpg" | absURL}} 800w, {{"img/portfolio/growthinvest/GrowthInvest-Homepage-400px.jpg" | absURL}} 400w"
                      data-sizes="100w" class="img-fluid lazyload blur-up">
                </div>
              </div>

              <div>
                <div class="mb-3 p-4">
                  <h1 class="ft6">Weddingz.in</h1>
                  <h5 class="font-weight-light">
                    Online marketplace for Wedding industry. Acquired by Softbank backed Oyo Rooms in 2018.
                  </h5>
                </div>
                <div>
                  <!-- <img src="{{"img/portfolio/healthkart/weddingz-homepage-mo-10px.jpg" | absURL}}" > -->
                  <img src="{{"img/portfolio/weddingz/Weddingz-Homepage-1600px.jpg" | absURL}}"
                      data-srcset="{{"img/portfolio/weddingz/Weddingz-Homepage-1600px.jpg" | absURL}} 1600w, {{"img/portfolio/weddingz/Weddingz-Homepage-800px.jpg" | absURL}} 800w, {{"img/portfolio/weddingz/Weddingz-Homepage-400px.jpg" | absURL}} 400w"
                      data-sizes="100w" class="img-fluid lazyload blur-up">
                </div>
              </div>

              <div>
                <div class="mb-3 p-4">
                  <h1 class="ft6">Mylan</h1>
                  <h5 class="font-weight-light">
                   A tele-medicine solution that helps hospitals reduce costs of patient visits.
                  </h5>
                </div>
                <div>
                  <img src="{{"img/portfolio/mylan/mylan-homepage-mo-10px.jpg" | absURL}}"
                       data-srcset="{{"img/portfolio/mylan/mylan-homepage-1600px.jpg" | absURL}} 1600w, {{"img/portfolio/mylan/mylan-homepage-800px.jpg" | absURL}} 800w, {{"img/portfolio/mylan/mylan-homepage-400px.jpg" | absURL}} 400w"
                       data-sizes="100w" class="img-fluid lazyload blur-up">
                </div>
              </div>
            </div>
          </div>

        </div>

          <div class="aj-our-work">
        <h1 class="font-weight-bold display-3">Our Work</h1>
         <p class="body-text">
      Seeing is believing. Some of our best work.
     </p>
      </div>
    </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section >
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <h3 class="h1 ft6">Ably led by</h3>
      <p class="body-text">
      Atleast one leadership team member actively works on every project.
     </p>
    </div>
  </div>
</div>
</section>

{{- partial "led-by-slider.html" . -}}

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <h3 class="h1 ft6">Common Queries</h3>
      <p class="body-text">To help you decide if we are the right fit for you.</p>
      <div class="seperator">
      </div>
    <div class="accordion aj-faq" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
        <a class=" text-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <h2 class="pt-2 pb-2 m-0 ">What technologies & frameworks do you work on?</h2>
        </a>
    </div>

    <div id="collapseOne" class="collapse  " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       <p class="body-text">We have active projects in JAVA, PHP, Django, Angular, Node.js, ElasticSearch, Wordpress, Firebase, Ionicframework, AWS, Lambda, Celery.
       <br>In the past, we have been able to build teams around new technologies fairly quickly. For Weddingz.in we built a 15 people Django team in 6 months.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">

       <a class=" text-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <h2 class="pt-2 pb-2 m-0 ">Ideal software developer. Myth vs Reality</h2>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text">A well rounded software developer should be able to understand business requirements, translate it into system design and then write quality code to deliver usable and bug free features. At the same time, she needs to have good communication skills, especially in a remote + multi team setup.
        <br>We have struggled with finding all these skills in a single developer (or training them for this). Hence we prefer to have team engagement which rounds up all the above rather than provide individual developers on hire.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">

        <a class=" text-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h2 class="pt-2 pb-2 m-0 ">How does the Application development engagement model work?
            </h2>
        </a>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text">Application development projects are fixed scope and cost projects. They begin with a discovery phase (1-4 weeks) where we prepare a detailed scope document and project plan. This is then signed off and becomes the basis for a 3 to 6 months application development project. This works great for building a minimum viable product, test a new idea or build a largely independent module in your existing product.</p>
      </div>
    </div>
  </div>
    <!--<div class="card">
    <div class="card-header" id="headingFour">

        <a class=" text-link collapsed"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h2 class="pt-2 pb-2 m-0 ">  Collapsible Group Item #4</h2>
        </a>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p class="body-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      </div>
    </div>
  </div> -->
</div>
    </div>
  </div>
</div>
</section>

{{ end }}