
.bread-crumb{
    h1{
    @media (min-width: 320px) and (max-width: 767.98px) {
         margin-top: 23px;
         font-size: 1.4rem;
      }
        span{
            font-weight: 100;
        }
        a{
            font-style:italic; 
            text-transform: lowercase;
             font-family: 'Libre Baskerville', Baskerville, georgia, serif!important;
        }
    }
}

.logo{
    @media (min-width: 320px) and (max-width: 767.98px) {
    width:100%;
  }
}
.headerfix{
    height:188px;
    z-index:999;
    position:relative;
@media (min-width: 320px) and (max-width: 767.98px) {
    height:184px;
  }
}

 
nav{
    
@media (min-width: 320px) and (max-width: 767.98px) {
    background: #fff;
    padding-bottom: 16px;
    }
}

.menu{
    @media (min-width: 320px) and (max-width: 767.98px) {
        font-size:1.3rem !important;
        margin-top: 4px;
        display: block;
      }
}
.slick-slide {
    margin-left: 100px;
    cursor: -webkit-grab;
     @media (min-width: 320px) and (max-width: 767.98px) {
      margin-left: 50px;
      }
}
.slick-track{
    align-items: center!important;
    display: flex !important;
    img{
        width:890px;

        @media (min-width: 768px) and (max-width: 991.98px) { 
            width:490px;
         }

         @media (min-width: 992px) and (max-width: 1399.98px) {
            width:690px;
         }
          @media (min-width: 320px) and (max-width: 767.98px) {
               
          width:296px;
              }

    }
}

.aj-team-member{
    .slick-slide{
        width: 1300px;
    }
    .slick-track{
            flex-shrink: 0;
    }
    .team-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    }
}
.slider-contanier{
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0;
}
