 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<footer>
<section>
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
     <h4 class="font-weight-light">
      1st Floor, Panjim Convention Center, Vistar Estates, Mala, Rua de Ourém, Neugi Nagar, Panaji, Goa 403001
    </h4>
     <h4 class="font-weight-light mt-4">
      <a href="tel:09975931402" class="text-link text-black d-block">+91 99759 31402</a>
      <a href="mailto:talktous@ajency.in" class="text-link text-black d-block">talktous@ajency.in</a>
    </h4>
     <h4 class="font-weight-light mt-4">
      <a href="https://www.facebook.com/Ajency.in/" class="text-link text-black d-block">Facebook</a>
      <a href="https://www.linkedin.com/company/ajency-in" class="text-link text-black d-block">Linkedin</a>
      <a href="https://www.instagram.com/ajency.in/" class="text-link text-black d-block">Instagram</a>
      <a href="https://twitter.com/anuj" class="text-link text-black d-block">Twitter</a>
    </h4>
    </div>
    <div class="col-md-8 offset-md-1 mt-5 mt-md-0">
      <p class="body-text w-75">We build websites from A to Z:
editorial, e-shop, corporate, magazine and blog…
Hand made in Goa. </p>
      <div class="w-75">
<form>
            <div class="form-group mb-0">
              <input type="email" class="form-control  form-control-lg" id="frm-mobile"  placeholder=" Your email address">
             <!--  <label class="control-label">Enter Email Address</label> -->
            </div>
            <div class="form-group mb-0">
              <input type="text" class="form-control  form-control-lg" id="frm-mobile"  placeholder="I'd Like to chat about ">
              <button type="button" class="btn btn-link btn-lg text-black">Send</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
</section>
</footer>
