 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<footer>
<section>
<div class="container p5">
  <div class="row">
    <div class="col-md-2 contact-us">
 
    </div>
    <div class="col-md-8">
    	<div class="row no-gutters">
    		<div class="col-md-4 contact-details">
 	 <h4 class="font-weight-light">
      <a href="tel:09975931402" class="text-link text-black d-block">+91 99759 31402</a>
      </h4>
      <h4 class="font-weight-light">
      <a href="mailto:talktous@ajency.in" class="text-link text-black d-block">talktous@ajency.in</a>
    </h4>
    
    </div>
    <div class="col-md-5 mt-5 mt-md-0 contact-details">
 	<h4 class="font-weight-light">
      Panjim Convention Center, Panjim.<br> Goa, India.
    
    </h4>
      <a href="https://goo.gl/maps/qmCNWotzNhC2"  target="_blank" class="text-link text-dark">(Get the Direction)</a>
    </div>
    <div class="col-md-3 mt-5 mt-md-0 contact-details-1">
 	<h4 class="font-weight-light">
 		<a href="https://www.facebook.com/Ajency.in/" class="text-link text-black d-block">Facebook</a>
 	</h4>
 	<h4 class="font-weight-light">
      <a href="https://www.linkedin.com/company/ajency-in" class="text-link text-black d-block">Linkedin</a>
    </h4>
    </div>
    	</div>
    </div>
  </div>
</div>
</section>
</footer>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>

<div class="container p5 mb-5">
  <div class="row">
    <div class="col-md-2 contact-us">
 
    </div>
    <div class="col-md-10">

    (C) 2018 Digital Dwarves Pvt Ltd. All Right Reserved


    </div>
  </div>
</div>
