<nav>
      <div class="container mt5  p5">
        <div class="row ">
            <div class="col-6 col-md-2 col-sm-3">
              <a href="https://ajency.in/website-design/">
              <img src="{{"img/ajency-logo.png" | absURL}}" width="157px" class="float-right logo"/>
            </a>
            </div>
            <div class="  offset-sm-5 col-sm-4 offset-md-8 col-md-2 col-6 d-flex">
              <a href="mailto:talktous@ajency.in" class="h4 menu float-left m-0">talktous@ajency.in </a>
            </div>
        </div>
      </div>
    </nav>
