<nav class="position-fixed w-100">
      <div class="container mt5  p5">
        <div class="row ">
            <div class="col-7 col-md-2">
              <a href="/website-design">
              <img src="{{"img/ajency-logo.png" | absURL}}" width="157px" class="float-right logo"/>
            </a>
            </div>
            <div class=" offset-md-8 col-md-2 offset-2 col-3">
              <a href="mailto:talktous@ajency.in" class="h3 menu float-left">talktous@ajency.in </a>
            </div>
        </div>
      </div>
    </nav>
