<section class="p2">
<div class="container slider-contanier ">

      <div class="aj-team-member  d-flex">

        <div >
          <div class="row ">
            <div class="col-md-6">
              <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                  class="lazyload blur-up img-fluid"
                  data-srcset="{{"img/team/anuj.jpg" | absURL}} 476w"
                  data-sizes="(min-width: 1400px) 635px, (min-width: 768px) 285px,  260px"
                  alt="Anuj Khurana" class="img-fluid"> -->

                  <img src="{{"img/team/anuj-10px.jpg" | absURL}}"
                  class="lazyload blur-up img-fluid"
                  data-srcset="{{"img/team/anuj-desktop.jpg" | absURL}} 700w, {{"img/team/anuj-tablet.jpg" | absURL}} 476w, {{"img/team/anuj-mobile.jpg" | absURL}} 276w"
                  data-sizes="(min-width: 768px) 42vw, 100vw" alt="Anuj Khurana" class="img-fluid">
            </div>
             <div class="col-md-5 offset-md-1">
               <div class="w-75 team-desc">
                  <h5>CEO/Co-founder</h5>
                  <h1 class="display-3">Anuj Khurana</h1>
                   <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">13+ years of Digital experience.</h5></div>
                </div>
            </div>
          </div>
        </div>

        <div class="align-items-center">
          <div class="row flex ">
            <div class="col-md-6">
              <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                  class="lazyload blur-up img-fluid"
                  data-srcset="{{"img/team/avanti.jpg" | absURL}} 476w"
                  data-sizes="(min-width: 1400px) 635px, (min-width: 768px) 285px,  260px"
                  alt="Avanti Hiremath" class="img-fluid"> -->

                  <img src="{{"img/team/avanti-10px.jpg" | absURL}}"
                  class="lazyload blur-up img-fluid"
                  data-srcset="{{"img/team/avanti-desktop.jpg" | absURL}} 700w, {{"img/team/avanti-tablet.jpg" | absURL}} 476w, {{"img/team/avanti-mobile.jpg" | absURL}} 276w"
                  data-sizes="(min-width: 768px) 42vw, 100vw" alt="Avanti Hiremath" class="img-fluid">
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="w-75 team-desc">
                <h5>COO/Co-founder</h5>
                <h1 class="display-3">Avanti Hiremath</h1>
                <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">13+ years in Brand management and Marketing</h5></div>
              </div>
            </div>
          </div>
        </div>

        <div >
          <div class="row">
            <div class="col-md-6">
              <img src="{{"img/team/amit-10px.jpg" | absURL}}"
                  class="lazyload blur-up img-fluid"
                  data-srcset="{{"img/team/amit-desktop.jpg" | absURL}} 700w, {{"img/team/amit-tablet.jpg" | absURL}} 476w, {{"img/team/amit-mobile.jpg" | absURL}} 276w"
                  data-sizes="(min-width: 768px) 42vw, 100vw" alt="Avanti Hiremath" class="img-fluid">
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="w-75 team-desc">
                <h5>Chief Designer</h5>
                <h1 class="display-3">Amit Adav</h1>
                <div class="black f-paragraph-small no-spacing"><h5 class="font-weight-light">7+ years in New Media Design.</h5></div>
              </div>
            </div>
          </div>
        </div>

      </div>
</div>
</section>