<section class="mt-5 mt-md-0">
  <div class="slider variable-width d-flex align-items-center">
    <div >
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/gallery-img/ajency-office-tablet.jpg" | absURL}}" alt="Ajency Office Workplace"
          data-srcset=" {{"img/gallery-img/ajency-office-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-office-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-office-desktop.jpg" | absURL}} 888w"
          data-sizes="(min-width: 1400px) 890px,(min-width: 992px) 690px, (min-width: 768px) 490px,  296px">
    </div>
    <div class="align-items-center">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/gallery-img/ajency-team-squad-tablet.jpg" | absURL}}" alt="Ajency Team squad "
          data-srcset=" {{"img/gallery-img/ajency-team-squad-mobile.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-team-squad-tablet.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-team-squad-desktop.jpg" | absURL}} 888w"
          data-sizes="(min-width: 1400px) 890px,(min-width: 992px) 690px, (min-width: 768px) 490px,  296px">
    </div>
    <div>
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/gallery-img/ajency-located-at-panjim-desktop.jpg" | absURL}}" alt="Ajency located at Panjim"
          data-srcset=" {{"img/gallery-img/ajency-located-at-panjim-desktop.jpg" | absURL}} 296w, {{"img/gallery-img/ajency-located-at-panjim-desktop.jpg" | absURL}} 592w, {{"img/gallery-img/ajency-located-at-panjim-desktop.jpg" | absURL}} 888w"
          data-sizes="(min-width: 1400px) 890px,(min-width: 992px) 690px, (min-width: 768px) 490px,  296px">
    </div>
  </div>
</section>