{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/website-design/" class="text-link text-black">website design</a> <span>/</span> DesignDesk</h1></div>
      </div>
    </div>
  </div>
</div>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <p class="body-text">
      DesignDesk, based out of Mumbai (India), designs and builds exhibition stands. The website is a showcase of their work of 1200+ exhibitions for some of the biggest names, at expos held in India and abroad.
     </p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <!-- <img src="{{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Large.jpg" | absURL}}" alt="Company website for an exhibition design company."
       srcset=" {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Large.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Medium.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Small.jpg" | absURL}}  400w"
       sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
 -->
       <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Large.jpg" | absURL}}" alt="Company website for an exhibition design company."
          data-srcset=" {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Large.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Medium.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/DesignDesk-Home-Page-Design-Small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <!-- <img src="{{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-large.jpg" | absURL}}" alt="Company website for an exhibition design company." srcset=" {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-large.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-med.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-small.jpg" | absURL}}  400w"
      sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-large.jpg" | absURL}}" alt="Company website for an exhibition design company."
          data-srcset=" {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-large.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-med.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/Ajency-website-design-designdesk-portfolio-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
      </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5 mt-1 mb-1">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
          <div class="text-overlay d-flex">
          <h1 class="card-title m-auto w-75 align-item-center text-center font-weight-bold" style="color:#2471b5;">Custom design solutions for exhibitions, revamp of office spaces and much more.</h1>
          <!--<h5 style="color:#48bc9f;" class="align-items-center d-flex">Distribution, Profitability, Efficiency</h5>-->
          </div>
      </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <!-- <img src="{{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Large.jpg" | absURL}}" alt="Company website for an exhibition design company." srcset=" {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Large.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Medium.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Small.jpg" | absURL}}  400w"
       sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

       <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Large.jpg" | absURL}}" alt="Company website for an exhibition design company."
          data-srcset=" {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Large.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Medium.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/DesignDeskRevampOffice-Home-Page-Design-Small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <!-- <img src="{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-LargeSize.jpg" | absURL}}" alt="Company website for an exhibition design company."
       srcset=" {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-LargeSize.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-MediumSize.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-SmallSize.jpg" | absURL}}  400w"
       sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

       <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-LargeSize.jpg" | absURL}}" alt="Company website for an exhibition design company."
          data-srcset=" {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-LargeSize.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-MediumSize.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-SmallSize.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid"> -->

          <picture>
            <source media="(orientation: landscape)" srcset='{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-LargeSize.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-MediumSize.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-SmallSize.jpg" | absURL}}  700w,' sizes="100vw">

            <source media="(orientation: portrait)" srcset='{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-mob-SmallSize.jpg" | absURL}}  700w, {{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-XSmallSize.jpg" | absURL}} 400w' sizes="100vw">

            <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                data-src="{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-SmallSize.jpg" | absURL}}"
                data-srcset="{{"img/portfolio/designdesk/DesignDesk-ExhibtionStand-and-Journey-Section-Design-SmallSize.jpg" | absURL}} 700w"
                data-sizes="100vw"
                class="img-fluid" alt="Company website for an exhibition design company.">
          </picture>
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
        <img src="{{"img/portfolio/designdesk/DesignDesk-Collage-new.jpg" | absURL}}" alt="Company website for an exhibition design company."
        srcset=" {{"img/portfolio/designdesk/DesignDesk-Collage-new.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/DesignDesk-Collage-medium.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/DesignDesk-Collage-Small.jpg" | absURL}}  400w"
        sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid d-none">

        <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/designdesk/DesignDesk-Collage-new.jpg" | absURL}}" alt="Company website for an exhibition design company."
          data-srcset=" {{"img/portfolio/designdesk/DesignDesk-Collage-new.jpg" | absURL}}  1676w, {{"img/portfolio/designdesk/DesignDesk-Collage-medium.jpg" | absURL}} 1200w, {{"img/portfolio/designdesk/DesignDesk-Collage-Small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<!--<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
       <img src="{{"img/portfolio/designdesk/DesignDesk-Portfolio-Page-Design-LargeSize.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/designdesk/DesignDesk-Portfolio-Page-Design-LargeSize.jpg" | absURL}}  1120w, {{"img/portfolio/designdesk/DesignDesk-Portfolio-Page-Design-MediumSize.jpg" | absURL}} 720w, {{"img/portfolio/designdesk/DesignDesk-Portfolio-Page-Design-SmallSize.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
    </div>
  </div>
</div>
</section> -->
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>

    {{- partial "our_work.html" . -}}

  </div>
</div>
</section>

{{ end }}