{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/website-design/" class="text-link text-black">website design</a> <span>/</span>  AxisRooms</h1></div>
      </div>
    </div>
  </div>
</div>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <p class="body-text">
      AxisRooms is an award winning hospitality technology solution company, with 6000+ hotel users across the world. We designed, developed the website in 2018 and continue to offer support & hosting.</p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
        <img src="{{"img/portfolio/axisrooms/axisrooms-homepage-10px.jpg" | absURL}}"
             alt="Indigo Wine Co is wine subscription service for Singapore and Australia."
             data-srcset=" {{"img/portfolio/axisrooms/AxisRooms-Home-Page-Design-large.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-Home-Page-Design-medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-Home-Page-Design-small.jpg" | absURL}}  700w"
             data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid lazyload blur-up">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5 mt-1 mb-1">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
          <div class="text-overlay d-flex">
          <h1 class="card-title m-auto w-75 align-item-center text-center font-weight-bold" style="color:#48bc9f;">Complete suite of products for the hospitality industry</h1>
          <!--<h5 style="color:#48bc9f;" class="align-items-center d-flex">Distribution, Profitability, Efficiency</h5>-->
          </div>
      </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">


          <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-MediumSize.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Design-SmallSize.jpg" | absURL}}  700w,' sizes="100vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Desin-SmallSize.jpg" | absURL}}  700w, {{"img/portfolio/axisrooms/AxisRooms-CMandRMS-Page-Desin-XSmallSize.jpg" | absURL}} 400w' sizes="100vw">

             <img src="{{"img/portfolio/axisrooms/axisrooms-cm-and-rms-10px.jpg" | absURL}}"

                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="A travel technology company with 6 different products.">
           </picture>
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <img src="{{"img/portfolio/axisrooms/axisrooms-product-10px.jpg" | absURL}}"
          alt="A travel technology company with 6 different products."
          data-srcset=" {{"img/portfolio/axisrooms/AxisRooms-Product-large.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-Product-medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-Product-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid lazyload blur-up">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <img src="{{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design.jpg" | absURL}}" class="img-fluid d-none">


           <img src="{{"img/portfolio/axisrooms/axisrooms-testimonial-10px.jpg" | absURL}}"
          alt="A travel technology company with 6 different products."
          data-srcset=" {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-Medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-Small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid lazyload blur-up">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">

    <div class="col  offset-xl-2 col-xl-8 col12">

      <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" -->



           <picture>
             <source media="(orientation: landscape)" data-srcset='{{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-large.jpg" | absURL}}  1676w, {{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-medium.jpg" | absURL}} 1200w, {{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-small.jpg" | absURL}}  700w,' sizes="100vw">

             <source media="(orientation: portrait)" data-srcset='{{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-SmallSize.jpg" | absURL}}  700w, {{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-XSmallSize.jpg" | absURL}} 400w' sizes="100vw">

             <img src="{{"img/portfolio/axisrooms/axisrooms-pricing-10px.jpg" | absURL}}"

                 data-sizes="100vw"
                 class="img-fluid lazyload blur-up" alt="A travel technology company with 6 different products.">
           </picture>
    </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>

    {{- partial "our_work.html" . -}}

  </div>
</div>
</section>

{{ end }}