{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/website-design/" class="text-link text-black">website design</a> <span>/</span>  Marvel Realtors</h1></div>
      </div>
    </div>
  </div>
</div>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
     <p class="body-text">
      Marvel Realtors, Pune (India) are known for their premium residences. The website is their brochure for past and ongoing work, with a unique drag and drop feature to compare projects, amenities and other features in each.
     </p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <!-- <img src="{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
      srcset=" {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}  1120w, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design-MediumSize.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design-SmallSize.jpg" | absURL}}  400w"
      sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
          data-srcset=" {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design-MediumSize.jpg" | absURL}} 1200, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design-SmallSize.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">

    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <!-- <img src="{{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
      srcset=" {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design.jpg" | absURL}}  1120w, {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design-MediumSize.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design-SmallSize.jpg" | absURL}}  400w"
      sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
          data-srcset=" {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design-MediumSize.jpg" | absURL}} 1200w, {{"img/portfolio/marvel/MarvelRealtors-ClaroStory-Page-Design-SmallSize.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
      </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <img src="{{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
      srcset=" {{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design.jpg" | absURL}}  1120w, {{"img/portfolio/Marvel-Realtors-Ajency-Website-Design-medium.jpg" | absURL}} 720w, {{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design-small.jpg" | absURL}}  400w"
      sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid d-none">

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
          data-srcset=" {{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design.jpg" | absURL}}  1676w, {{"img/portfolio/Marvel-Realtors-Ajency-Website-Design-medium.jpg" | absURL}} 1200w, {{"img/portfolio/marvel/Marvel-Realtors-Ajency-Website-Design-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
      <img src="{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
      srcset=" {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design.jpg" | absURL}}  1120w, {{"img/portfolio/MarvelRealtors-Project-Page-Design-Mediumsize.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design-SmallSize.jpg" | absURL}}  400w"
      sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid d-none" >

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src='{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}' alt="Real estate company with dozens of ongoing projects."
          data-srcset=' {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design.jpg" | absURL}}  1676w, {{"img/portfolio/MarvelRealtors-Project-Page-Design-Mediumsize.jpg" | absURL}} 1200w, {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design-SmallSize.jpg" | absURL}}  700w'
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-5 col-12">
       <!-- <img src="{{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}" alt="Real estate company with dozens of ongoing projects."
       srcset=" {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}  1120w, {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}} 720w, {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}  400w"
       sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid" width="100%"> -->

       <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}" alt="Real estate company with dozens of ongoing projects."
          data-srcset=" {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}  600w, {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}} 600w, {{"img/portfolio/marvel/marvel-optimize.gif" | absURL}}  600w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">

    </div>
     <div class="col-12  col-md-3 mt-4 mt-md-0">
      <div class="text-overlay d-flex">
          <h4 class="card-title m-auto h1 align-item-center text-center font-weight-bold" style="color:#909090;">Compare projects using the drag and drop feature.</h4>
          <!--<h5 style="color:#48bc9f;" class="align-items-center d-flex">Distribution, Profitability, Efficiency</h5>-->
          </div>
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-xl-2 col-xl-8 col12">
       <!-- <img src="{{"img/portfolio/marvel/marvel-colage3.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
       srcset=" {{"img/portfolio/marvel/marvel-colage3.jpg" | absURL}}  1120w, {{"img/portfolio/marvel/marvel-colage3-MediumSize.jpg" | absURL}} 720w, {{"img/portfolio/marvel/marvel-colage3-SmallSize.jpg" | absURL}}  400w"
       sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid"> -->

       <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/marvel/marvel-colage3.jpg" | absURL}}" alt="Real estate company with dozens of ongoing projects."
          data-srcset=" {{"img/portfolio/marvel/marvel-colage3.jpg" | absURL}}  1182w, {{"img/portfolio/marvel/marvel-colage3-MediumSize.jpg" | absURL}} 1200w, {{"img/portfolio/marvel/marvel-colage3-SmallSize.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>

    {{- partial "our_work.html" . -}}

  </div>
</div>
</section>

{{ end }}