{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/website-design/" class="text-link text-black">website design</a> <span>/</span>  Marvel Realtors</h1></div>
      </div>
    </div>
  </div>
</div>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
     <p class="body-text">
      Incubated in Singapore, IndigoWines sources Australian wines and offers subscription of wine boxes as well as one off purchases. 
      We designed, developed the website in 2017 and continue to offer support + hosting 


     </p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}  1120w, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
       
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="{{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}}  1120w, {{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
      </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="{{"img/portfolio/marvel/MarvelRealtors-Home-Page-Design.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design.jpg" | absURL}}  1120w, {{"img/portfolio/MarvelRealtors-Project-Page-Design.jpg" | absURL}} 720w, {{"img/portfolio/marvel/MarvelRealtors-Project-Page-Design.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<!--<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
       <img src="{{"img/portfolio/axisrooms/AxisRooms-Product-large.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." srcset=" {{"img/portfolio/axisrooms/AxisRooms-Product-large.jpg" | absURL}}  1120w, {{"img/portfolio/mobile-cart-and-how-to-do-subscription-medium.jpg" | absURL}} 720w, {{"img/portfolio/mobile-cart-and-how-to-do-subscription-small.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
       <img src="{{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-large.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-large.jpg" | absURL}}  1120w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-medium.jpg" | absURL}} 720w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-small.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
       <img src="{{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-large.jpg" | absURL}}" alt="A travel technology company with 6 different products." srcset=" {{"img/portfolio/axisrooms/AxisRooms-Pricing-Page-Design-large.jpg" | absURL}}  1120w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-medium.jpg" | absURL}} 720w, {{"img/portfolio/axisrooms/AxisRooms-Testimonial-Page-Design-small.jpg" | absURL}}  400w"sizes="(min-width: 40em) calc(66.6vw - 4em), 100vw" class="img-fluid">
    </div>
  </div>
</div>
</section> -->
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>
    <div class="col-md-10 our-work">
      <div class="items mb-5">
        <a href="../../goa-our-work/wine-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> IndigoWine</h1>
        <h5 class="font-weight-light">
        A Wine subscription service for Singapore and Australia.
       </h5>
      </a>
  
       <div class="ajency-portfolio portfolio-1">
          <img src="{{"img/IndigiWineCo-Mockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items mb-5">
        <a href="../../goa-our-work/hotel-management-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> Axisrooms</h1>
        <h5 class="font-weight-light">
        A travel technology company with 6 different products. 
       </h5>
       </a>
        <div class="ajency-portfolio portfolio-2">
          <img src="{{"img/portfolio/axisrooms/AxisRooms-Mockup.jpg" | absURL}}" alt=" A travel technology company with 6 different products. " />
       </div>
      </div>
      <div class="items mb-5">
        <a href="../../goa-our-work/exhibition-company-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> DesignDesk</h1>
        <h5 class="font-weight-light">
        Company website for an exhibition design company. 
       </h5>
       </a>
        <div class="ajency-portfolio portfolio-3">
          <img src="{{"img/indigo-wines-portfolio.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items">
         <a href="../../goa-our-work/real-estate-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> Marvel Realtors</h1>
        <h5 class="font-weight-light">
        Real estate company with dozens of ongoing projects. 
       </h5>
      </a>
        <div class="ajency-portfolio portfolio-4">
          <img src="{{"img/indigo-wines-portfolio.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
          <div class="aj-our-work">
        <h1 class="font-weight-bold display-3">Our Work</h1>
         <p class="body-text">
      We are a boutique agency with a team size of 30+.
     </p>
      </div>
    </div>
  </div>
</div>
</section>

{{ end }}