{{ define "main" }}
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <div class="headerfix ">
         <div class="bread-crumb"><h1 class="ft6 pt-6"><span>/</span> <a href="https://ajency.in/website-design/" class="text-link text-black">website design</a> <span>/</span>  IndigoWine</h1></div>
      </div>
    </div>
  </div>
</div>

<section>
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
     <p class="body-text">
      A wine club in Singapore of artisanal wines from boutique producers across Australia. Members can read about wines and subscribe to a wine box via this site. We designed, developed the website in 2017 and continue to offer support & hosting. 
     </p>
    </div>
  </div>
</div>
</section>

<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/Home-page-large.jpg" | absURL}}" alt="Indigo Wine Co is wine subscription service for Singapore and Australia."
          data-srcset=" {{"img/portfolio/Home-page-large.jpg" | absURL}}  1676w, {{"img/portfolio/Home-page-medium.jpg" | absURL}} 1200w, {{"img/portfolio/Home-page-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/green-grapes-field-large.jpg" | absURL}}" alt="Indigo Wine Co is wine subscription service for Singapore and Australia."
          data-srcset=" {{"img/portfolio/green-grapes-field-large.jpg" | absURL}}  1676w, {{"img/portfolio/green-grapes-field-medium.jpg" | absURL}} 1200w, {{"img/portfolio/green-grapes-field-small.jpg" | absURL}}  700w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5 ">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/category-and-single-view-large.jpg" | absURL}}" alt="Indigo Wine Co is wine subscription service for Singapore and Australia." 
          data-srcset=" {{"img/portfolio/category-and-single-view-large.jpg" | absURL}}  1676w, {{"img/portfolio/IndigoWineCo-SingleProduct-Page-Design-SmallSize.jpg" | absURL}}  700w,  {{"img/portfolio/IndigoWineCo-SingleProduct-Page-Design-SmallSize.jpg" | absURL}} 700w, {{"img/portfolio/IndigoWineCo-SingleProduct-Page-Design-XSmallSize.jpg" | absURL}}  400w" 
          data-sizes="(min-width: 1400px) 61vw,(min-width: 992px) 690px, (min-width: 768px) 490px,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
     <div class="col  offset-md-2 col-md-8 col12">
      <!-- <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/mobile-cart-and-how-to-do-subscription-large.jpg" | absURL}}" alt="Indigo Wine Co is wine subscription service for Singapore and Australia."
          data-srcset=" {{"img/portfolio/mobile-cart-and-how-to-do-subscription-large.jpg" | absURL}}  1900w, {{"img/portfolio/IndigoWineCo-Cart-Page-Design-SmallSize.jpg" | absURL}}  1100w,  {{"img/portfolio/IndigoWineCo-Cart-Page-Design-SmallSize.jpg" | absURL}} 720w, {{"img/portfolio/IndigoWineCo-Cart-Page-Design-XSmallSize.jpg" | absURL}}  400w" 
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div> -->

    <picture>
      <source media="(orientation: landscape)" srcset='{{"img/portfolio/mobile-cart-and-how-to-do-subscription-large.jpg" | absURL}}  1676w, {{"img/portfolio/mobile-cart-and-how-to-do-subscription-medium.jpg" | absURL}}  1200W, {{"img/portfolio/mobile-cart-and-how-to-do-subscription-small.jpg" | absURL}}  700w,' sizes="100vw">
      
      <source media="(orientation: portrait)" srcset='{{"img/portfolio/IndigoWineCo-Cart-Page-Design-SmallSize.jpg" | absURL}}  700w, {{"img/portfolio/IndigoWineCo-Cart-Page-Design-XSmallSize.jpg" | absURL}} 400w' sizes="100vw">

      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E" srcset='' class="img-fluid">
    </picture>

  </div>
</div>
</section>
<section class="p2">
<div class="container p5">
  <div class="row">
    <div class="col  offset-md-2 col-md-8 col12">
      <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
          data-src="{{"img/portfolio/collage-large.jpg" | absURL}}" alt="Indigo Wine Co is wine subscription service for Singapore and Australia."
          data-srcset=" {{"img/portfolio/collage-large.jpg" | absURL}}  1120w, {{"img/portfolio/collage-medium.jpg" | absURL}} 720w, {{"img/portfolio/collage-small.jpg" | absURL}}  400w"
          data-sizes="(min-width: 768px) 60vw,  100vw" class="img-fluid">
    </div>
  </div>
</div>
</section>
 <div class="container p5">
  <div class="row">
    <div class="col-12">
       <hr>
    </div>
  </div>
</div>
<section class="overflow-h">
<div class="container p5">
  <div class="row">
    <div class="col-md-2">
    <!--   <h3>All Works</h3> -->
    </div>
    <div class="col-md-10 our-work">
      <div class="items mb-5">
        <a href="../../goa-our-work/wine-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> IndigoWine</h1>
        <h5 class="font-weight-light">
        A wine subscription service for Singapore and Australia.
       </h5>
      </a>
  
       <div class="ajency-portfolio portfolio-1">
          <img src="{{"img/IndigiWineCo-Mockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items mb-5">
        <a href="../../goa-our-work/hotel-management-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> Axisrooms</h1>
        <h5 class="font-weight-light">
        A travel technology company with 6 different products. 
       </h5>
       </a>
        <div class="ajency-portfolio portfolio-2">
          <img src="{{"img/portfolio/axisrooms/AxisRooms-Mockup.jpg" | absURL}}" alt=" A travel technology company with 6 different products. " />
       </div>
      </div>
      <div class="items mb-5">
        <a href="../../goa-our-work/exhibition-company-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> DesignDesk</h1>
        <h5 class="font-weight-light">
        Company website for an exhibition design company. 
       </h5>
       </a>
        <div class="ajency-portfolio portfolio-3">
          <img src="{{"img/DesignDeskMockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
      <div class="items">
         <a href="../../goa-our-work/real-estate-site-website-design/" class="text-black text-link">
        <h1 class="ft6"> Marvel Realtors</h1>
        <h5 class="font-weight-light">
        Real estate company with dozens of ongoing projects. 
       </h5>
      </a>
        <div class="ajency-portfolio portfolio-4">
          <img src="{{"img/portfolio/marvel/MarvelRealtors-Mockup.jpg" | absURL}}" alt="Indigo Wine A Wine subscription service for Singapore and Australia." />
       </div>
      </div>
          <div class="aj-our-work">
        <h1 class="font-weight-bold display-3">Our Work</h1>
         <p class="body-text">
      Seeing is believing. Some of our best work.
     </p>
      </div>
    </div>
  </div>
</div>
</section>

{{ end }}